@import '../../globals.scss';

.bio {
    padding: 4rem 4rem;
    margin: 0 auto;
    width: 100%;
    max-width: $content-width;
    outline: none;

    &__name {
        font-weight: 900;
    }

    p {
        margin-bottom: 2rem;
        font-size: $font-size-h6;
    }
}